<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>store_system</title>
    <link rel="icon" type="image/png" href="/assets/imgs/icon_shop.ico" />
    <script src="/jsquery-3.6.0.min/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/components.js"></script>
    <script src="/assets/js/pages/store_system.js"></script>
    <link rel="stylesheet" href="/assets/css/pages/store_system.css" />
  </head>
  <body>
    <!-- banner -->
    <div id="top_banner"></div>
    <!-- header_menu -->
    <div style="position: sticky; top: 0; z-index: 1000" id="header_menu"></div>
    <!-- container store system-->
    <div id="container_store_system">
      <h1>Hệ thống cửa hàng</h1>
    </div>
    <!-- footer -->
    <div id="footer"></div>
  </body>
</html>
