<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Thuy Duong</title>
    <link rel="stylesheet" href="/assets/css/components/footer.css">
  </head>
  <body>
    <!-- Footer -->
    <footer class="main-footer">
      <div class="footer-wrapper1">
        <div class="footer1">
          <h2 class="ft-heading">Thông tin liên hệ</h1>
          <div class="ft-logo">
            <img
              class="ft-logo_img"
              src="/assets/imgs/components/logo_my_pham.jpg"
              alt="ft-logo"
            />
          </div>
          <div class="ft-item_des">
            <span class="ft-item_logo">
              <span class="ft-item_title">
                Công ty TNHH Bán lẻ thuyduongshop. <br />
                thuyduongshop là chuỗi siêu thị mỹ phẩm chính hãng, giá rẻ, đáng tin
                <br />
                cậy dành cho giới trẻ Việt Nam. <br />
                Giấy chứng nhận đăng ký kinh doanh số 0109129611 cấp ngày
                18/03/2020 <br />
                tại Phòng đăng ký kinh doanh Sở kế hoạch và đầu tư thành phố Hà
                Nội.
              </span>
            </span>
          </div>
          <div class="ft-location">
            <i class="ft-location_icon fa-solid fa-location-dot"></i>
            <span class="ft-location_title"
              >Địa chỉ: Số 159 đường Xuân Thuỷ, phường Dịch Vọng Hậu, Quận Cầu
              Giấy, Hà Nội.</span
            >
          </div>
          <div class="ft-phonenumber">
            <i class="ft-location_icon fa-solid fa-phone"></i>
            <span class="ft-phonenumber_title">Số điện thoại: 19002631</span>
          </div>
          <div class="ft-email">
            <i class="ft-location_icon fa-solid fa-envelope"></i>
            <span class="ft-email_title">Email : cskh@thuyduongshop.com</span>
          </div>
          <div class="ft-logo_info">
            <div class="ft-logo_info-big">
              <img
                class="logo-info_wrapper_ins"
                src="/assets/imgs/components/insta.png"
              />
            </div>
            <div class="ft-logo_info-big">
              <img
                class="logo-info_wrapper_shoppe"
                src="/assets/imgs/components/shoppe.png"
              />
            </div>
            <div class="ft-logo_info-big">
              <img
                class="logo-info_wrapper_tiki"
                src="/assets/imgs/components/tiki.png"
              />
            </div>
            <div class="ft-logo_info-big">
              <img
                class="logo-info_wrapper_zalo"
                src="/assets/imgs/components/zalo.png"
              />
            </div>
          </div>
          <h4>© Bản quyền thuộc về THUYDUONGSHOP</p>
        </div>

        <div class="footer-wrapper2">
          <div class="footer2">
            <h1 class="ft-heading">Về chúng tôi</h1>
            <div class="ft-item">
              <span class="ft-item_title"> Câu chuyện thương hiệu </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Điều khoản dịch vụ </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Tuyển dụng </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Hệ thống cửa hàng </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Chứng nhận đại lý chính hãng </span>
            </div>
          </div>

          <div class="footer2">
            <h1 class="ft-heading">Chính sách</h1>
            <div class="ft-item">
              <span class="ft-item_title"> Hướng dẫn mua hàng </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title">
                Quy định và hình thức thanh toán
              </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Chính sách giao hàng </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Chính sách đổi trả </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Chính sách tích lũy điểm </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Chính sách bảo mật thông tin </span>
            </div>
            <div class="ft-item">
              <span class="ft-item_title"> Giao hàng siêu tốc 1H </span>
            </div>
          </div>

          <div class="footer2">
            <h1 class="ft-heading">Đăng ký nhận tin</h1>
            <div class="ft-input_wrapper">
              <input
                type="text"
                class="ft-input"
                placeholder="Nhập địa chỉ email"
              />
              <button class="btn_register">Đăng ký</button>
            </div>
            <h1 class="ft-heading">Phương thức thanh toán</h1>
            <div class="pay-wrapper">
              <img src="/assets/imgs/components/momo.png" class="pay-img" />
              <img src="/assets/imgs/components/visa.png" class="pay-img" />
              <img src="/assets/imgs/components/tienmat.png" class="pay-img" />
            </div>
            <div class="pay-wrapper">
              <span class="ft-item_title"
                >Hoặc liên hệ với chúng tôi : cskh@thuyduongshop.com</span
              >
              <br />
              <span class="ft-item_title">Số điện thoại: 19002631</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
